@makerxstudio:registry=https://npm.pkg.github.com

# Generate a new token with read packages here: https://github.com/settings/tokens
# Then use the command below to allow npm to login with this token
# npm login --scope=@makerxstudio --registry=https://npm.pkg.github.com

#> Username: USERNAME
#> Password: TOKEN
#> Email: PUBLIC-EMAIL-ADDRESS
